<div class="shadow items-center ">
  <div class="container w-1/3 flex mx-auto divide-x-2">
    <div class="w-1/3 text-center h-full">
      <a href="/" {% if page.url == "/" %}style="color: red;"{% endif %} class=" text-center mt-3 text-base lg:text-3xl tracking-widest text-gray-700 hover:text-red-600">home</a>
    </div>
    <div class="w-1/3 text-center h-full " >
      <a href="/about.html" {% if page.url == "/about.html" %}style="color: red;"{% endif %} class=" text-base lg:text-3xl tracking-widest text-gray-700 hover:text-red-600">about</a>
    </div>
    <div class="w-1/3 text-center h-full">
      <a href="/code.html" {% if page.url == "/code.html" %}style="color: red;"{% endif %} class=" text-base lg:text-3xl tracking-widest text-gray-700 hover:text-red-600">code</a>
    </div>
    
  </div>
</div>

